<table>
    <tr>
        <td><strong>Total Jobs:</strong></td>
        <td><strong><%= @jobs.where("start_date >= ? and end_date <= ?", "#{params[:start_date]}", "#{params[:end_date]}").count %></strong></td>
    </tr>
    <tr>
        <td><strong>Total AU Jobs:</strong></td>
        <td><%= @au_jobs.where("start_date >= ? and end_date <= ?", "#{params[:start_date]}", "#{params[:end_date]}").count %></td>
    </tr>
    <tr>
        <td><strong>Total CHOG Jobs:</strong></td>
        <td><%= @chog_jobs.where("start_date >= ? and end_date <= ?", "#{params[:start_date]}", "#{params[:end_date]}").count %></td>
    </tr>
    <tr>
        <td><hr /></td>
    </tr>
    <tr>
        <td><strong>Total Hours:</strong></td>
        <td><strong><%= @jobs.where("start_date >= ? and end_date <= ?", "#{params[:start_date]}", "#{params[:end_date]}").sum(:time_spend) %></strong></td>
    </tr>
    <tr>
        <td><strong>Total AU Hours:</strong></td>
        <td><%= @total_au.where("start_date >= ? and end_date <= ?", "#{params[:start_date]}", "#{params[:end_date]}").sum(:time_spend) %></td>
    </tr>
    <tr>
        <td><strong>Total CHOG Hours:</strong></td>
        <td><%= @total_chog.where("start_date >= ? and end_date <= ?", "#{params[:start_date]}", "#{params[:end_date]}").sum(:time_spend) %></td>
    </tr>
</table>

<h3>Total Jobs</h3>
    <%= pie_chart Job.where("start_date >= ? and end_date <= ?", "#{params[:start_date]}", "#{params[:end_date]}")
        .group(:au_chog).count,  donut: true %>

<h3>Total Hours</h3>
    <%= pie_chart Job.where("start_date >= ? and end_date <= ?", "#{params[:start_date]}", "#{params[:end_date]}")
        .group(:au_chog).sum(:time_spend), donut: true %>
