<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<button><%= link_to 'New Job', new_job_path %>
</button><br>
&nbsp;

<%= link_to 'Job Totals', totals_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Subject</th>
      <th>Person type</th>
      <th>Research use</th>
      <th>Date Started</th>
      <th>Complete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.subject %></td>
        <td><%= job.person_type %></td>
        <td><%= job.research_use %></td>
        <td><%= job.start_date %></td>
   		<% if job.complete? %>
   			<td>Completed</td>
   		<% else %>
   			<td>Incomplete</td>
   		<% end %>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>