<%= provide(:title, "Job ##{@job.id}") %>
<p id="notice"><%= notice %></p>

<h1>Job #<%= @job.id %></h1>

<table class="table table-striped">
    <tbody>
        <tr>
            <td><strong>Name:</strong></td>
            <td><%= @job.first_name %> <%= @job.last_name %></td>
        </tr>
        <tr>
            <td><strong>Street Address:</strong></td>
            <td><%= @job.street_address %><br/>
        	<%= @job.city %>, <%= @job.state %><br />
        	<%= @job.country %> <%= @job.zip %></td>
        </tr>
        <tr>
            <td><strong>Phone:</strong></td>
            <td><%= @job.telephone %></td>
        </tr>
        <tr>
            <td><strong>Email:</strong></td>
            <td><%= @job.email %></td>
        </tr>
        <tr>
            <td><strong>Subject:</strong></td>
            <td><%= @job.subject %></td>
        </tr>
        <tr>
            <td><strong>Person Type:</strong></td>
            <td><%= @job.person_type %></td>
        </tr>
        <tr>
            <td><strong>Research Use:</strong></td>
            <td><%= @job.research_use %></td>
        </tr>
        <tr>
            <td><strong>Date Started:</strong></td>
            <td><%= @job.start_date %></td>
        </tr>
        <tr>
            <td><strong>Date Last Worked On:</strong></td>
            <td><%= @job.end_date %></td>
        </tr>
        <tr>
            <td><strong>Time Spent:</strong></td>
            <td><%= @job.time_spend %></td>
        </tr>
        <tr>
            <td><strong>AU or Church of God:</strong></td>
            <td><%= @job.au_chog %></td>
        </tr>
        <tr>
            <td><strong>Complete:</strong></td>
            <td><%= if @job.complete then 'Yes' else 'No' end %></td>
        </tr>
        <tr>
            <td><strong>Notes:</strong></td>
            <td><%= @job.notes %></td>
        </tr>
        <tr>
            <td style="text-align:left"><button class="btn btn-default"><%= link_to 'Back', jobs_path %></button></td>
            <td style="text-align:right;"><button class="btn btn-default"><%= link_to 'Edit', edit_job_path(@job) %></button>    <button class="btn btn-danger"><%= link_to 'Destroy', @job, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
        </tr>
    </tbody>
</table>
