<%= provide(:title, "Job ##{@job.id}") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.first_name %> <%= @job.last_name%>
</p>

<p>
	<strong>Street address:</strong><br/>
	<%= @job.street_address %><br/>
	<%= @job.city %>, <%= @job.state %><br />
	<%= @job.country %> <%= @job.zip %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @job.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @job.email %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @job.subject %>
</p>

<p>
  <strong>Person type:</strong>
  <%= @job.person_type %>
</p>

<p>
  <strong>Research use:</strong>
  <%= @job.research_use %>
</p>

<p>
	<strong>Date Started:</strong>
	<%= @job.start_date %>
</p>

<p>
	<strong>Date Last Worked On:</strong>
	<%= @job.end_date %>
</p>

<p>
  <strong>Time spent:</strong>
  <%= @job.time_spend %>
</p>

<p>
  <strong>AU or CHOG:</strong>
  <%= @job.au_chog %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @job.complete %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @job.notes %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
