<p id="notice"><%= notice %></p>

<div class="text-center">
    <h2>User: <%= "#{@user.first_name} #{@user.last_name}" %></h2>
</div>

<table class="table table-striped">
    <tr>
        <td><strong>Username</strong></td>
        <td><%= @user.username %></td>
    </tr>
    <tr>
        <td style="text-align:left"><%= link_to 'Back', users_path, class: 'btn btn-default' %></td>
        <td style="text-align:right;"><%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-default' %>    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
    </tr>
</table>
