<header class="navbar navbar-fixed-top">
  	<div class="container">
  		<%= link_to "Archives Record Keeper", jobs_path, id: "logo" %>
        <% if logged_in? %>
  		    <nav class="main-nav">
  			    <ul class="nav navbar-nav navbar-right">
  				    <li><%= link_to "Jobs List", jobs_path %></li>
  				    <li><%= link_to "Job Totals", totals_path %></li>
  				    <li><%= link_to "Users", users_path %></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Accout Settings", edit_user_path(current_user) %></li>
                            <li class="divider"></li>
                            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <nav class="mobile-nav">
  			    <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                        <ul class="dropdown-menu">
  				            <li><%= link_to "Jobs List", jobs_path %></li>
  				            <li><%= link_to "Job Totals", totals_path %></li>
  				            <li><%= link_to "Users", users_path %></li>
                            <li class="divider"></li>
                            <li><%= link_to "Accout Settings", edit_user_path(current_user) %></li>
                            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                        </ul>
                    </li>
                </ul>
            </nav>
          <% else %>
            <ul class="nav navbar-nav navbar-right">
                <li>Must be logged in to access</li>
          <% end %>
  			</ul>
  		</nav>
  	</div>
</header>
